<nav class="navbar">
    <ul class="navbar">
      <li><a href="index.html">Home</a></li>
      <li><a href="teaching.html">Teaching</a></li>
      <li><a class="active" href="research.html">Research</a></li>
      <li><a href="professional.html">Professional Activities</a></li>
      <li><a href="publications.html">Publications</a></li>
    </ul>
  </nav>
  