---
title: Home
---
<head>
<link rel="stylesheet" href ="home.css" />
</head>

<div>
  <div class="title">
    <h1 class="title_word">Tamal Krishna Dey</h1>
    <p>Department of Computer Science and Engineering at Ohio State University</p>
  </div>
  <table>
    <tbody>
      <td>
        <div>
          <div>
            <h3>Professor</h3>
            <p>Chair of Department of Computer Science & Engineering at The Ohio State University
           <br>CV can be found <a href="https://web.cse.ohio-state.edu/~dey.8/cv.pdf">here</a>
            </p>
         </div>
        </div>

        <div>
          <div class = "Associations">
           <h3>Associations</h3>
            <ul >
              <li>
                <a href = "https://www.acm.org/media-center/2018/december/fellows-2018">Fellow ACM</a>
              </li>
              <li>
                <a href = "https://www.computer.org/web/pressroom/CS-Fellows-2017">Fellow IEEE</a>
              </li>
              <li>
                <a href = "http://solidmodeling.org/awards/sma-fellows/sma-fellows-2019/">Fellow SMA</a>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <div class="image title">
          <img src="images/tamal.png" alt="Image of Professor Tamal Dey" width="400" height="600">
        </div>
      </td>
      <td>
         <div>
            <h3>Contact Information</h3>
            <p>
              <span class= "subtitle">Office Address</span>
              <br>2015 Neil Ave.<br> Columbus, Ohio, 43065<br>
              <br>
              <br>

              <span class="subtitle">Phone</span>
          
              <br>614-292-3563<br>
              <br>
              <br>

              <br>
              <span class="subtitle">Fax</span>
              <br>614-292-2911<br>
              <br>
              <br>

              <br>
              <span class="subtitle">Mail</span>
              <br>tamaldey@cse.ohio-state.edu<br>
              <br>
              <br>
            </p>
          </div>
       </td>
    </tbody>
  </table>
  
<div class = "edu_bracket">
  <h1 class="title_word">Education</h2>
  <div class = "box_edu">
    <h3 class="uni">University of Illinos - Urbana Champaign</h3>
    <div class = "dates">
      <div class = "line"></div>
      <p>Post Doctorate <br> 1991 - 1992</p>
    </div>
  </div>
  <div class = "box_edu">
    <h3 class = "uni">Purdue University</h3>
    <div class = "dates">
      <div class = "line"></div>
      <p>PhD <br> 1988 - 1991</p>
    </div>
  </div>
  <div class = "box_edu">
    <h3 class= "uni">Indian Institute of Science - Bangalore </h3>
    <div class = "dates">
      <div class = "line"></div>
      <p>Masters in Engineering<br> 1985 - 1987</p>
    </div>
  </div>
  <div class = "box_edu">
    <h3 class= "uni">Javavpur University - Calcutta</h3>
    <div class = "dates">
      <div class = "line"></div>
      <p>Bachelors in Engineering<br> 1981 - 1985</p>
    </div>
  </div>

</div>
 <div class="space"></div>
 <div class="footer">
  <p>Ohio State University</p>
</div> 

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
}
.Associations{
  padding-top:50px;
}
.space{
  height:40px;
  background-color: white; 
  width:100%;
  padding: 20px;
}

ul li{
  margin: 3px;
  padding-top:30px;
  font-size: 20px;
}
.subtitle{
    font-weight: 700;
}
h1,h2,h3,h4,h5,p, li{
  font-family: Roboto,sans-serif;
}

.title{
    text-align: center;
}
.title_word{
    color: #bb0000;
}

h3,h1{
   color: #bb0000;
   font-size:1.85em;
}
.edu_bracket{
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
 
}
.box_edu{
  background-color: #666666;
  width: 800px;
  height: 250px;
  padding: white 30px;
  padding-bottom: white 30px;
  margin: 0 auto;
  border-radius:25px;
  
}
.line{
  height: 20px;
  width: 150px;
  margin: 0 auto;
  border-bottom: 3px solid #bb0000;
}
.uni{
  font-weight:1000;
  font-family: Roboto,sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
}
.dates{
  font-family: sans-serif;
  color:white;
}
img{
  border-radius:25px;
  align:center;
}
td{
  width: 23%;
  align:top;
}
td,table,tr{
  border:none;
  vertical-align: top;
}
.image{
  padding-left:20px;
  margin-right: auto; 
  margin-left: auto;
}
</style>
