---
title: Professional Activities
---

<body>
  <nav class="navbar">
    <ul class="navbar">
      <li><a href="index.html">Home</a></li>
      <li><a href="teaching.html">Teaching</a></li>
      <li><a href="research.html">Research</a></li>
      <li><a class="active" href="professional.html">Professional Activities</a></li>
      <li><a href="publications.html">Publications</a></li>
    </ul>
  </nav>
  <details class="border">

    <summary>Program Committee Member</summary>

    <p> <table id="program_committee_member">
      <tr>
        <th>Program Committee Member of</th>
        <th>Year(s)</th>
      </tr>
      <tr>
        <td>
          SoCG
        </td>
        <td>
          <a href="http://socg2012.web.unc.edu/">
          12</a>, <a href = "http://eecs.oregonstate.edu/socg19/index.html">19</a>
        </td>

      </tr>
      <tr>
        <td>
          NASAGEM
        </td>
        <td>
          <a href = "http://www.gdv.uni-hannover.de/events/hcw07/the_conference/nasa_gem_workshop/index.php">07</a>
        </td>
      </tr>
      <tr>
        <td>
          ISAAC
        </td>
        <td>
          <a href = "http://www.isical.ac.in/~isaac06/">06</a>
        </td>
      </tr>
      <tr>
        <td>
          Pacific Graphics
        </td>
        <td>
          <a href = "http://graphics.im.ntu.edu.tw/pg2006/">06</a>
        </td>
      </tr>
      <tr>
        <td>
          SPM
        </td>
        <td>
          <a href = "http://www.ce.washington.edu/sm04/">04, </a> <a href = "http://www.gvu.gatech.edu/~jarek/spm">05, </a> <a href = "http://ralph.cs.cf.ac.uk/SPM06.html">06, </a> <a href = "http://cg.cs.tsinghua.edu.cn/spm2007/">07, </a> <a href = "http://www.cs.sunysb.edu/spm08/">08, </a> <a href = "http://www.siam.org/meetings/gdspm09/">09, </a><a href = "http://www.cs.technion.ac.il/spm2010/">10, </a> <a href = "http://www.siam.org/meetings/gdspm11/">11, </a><a href = "http://spm12.u-bourgogne.fr/">12, </a>13, <a href = "http://spring.mae.cuhk.edu.hk/~smi2014/index.html">14, </a> <a href = "http://www.siam.org/meetings/gdspm15/">15, </a><a href = "https://s3pm.icsi.berkeley.edu/s3pm/spm.html">17</a>
        </td>
      </tr>
      <tr>
        <td>
          SMI
        </td>
        <td>
          <a href = "http://smism04.ge.imati.cnr.it/">04, </a> <a href = "http://www.shapemodeling.org/">05, </a> <a href = "http://www.ifs.tohoku.ac.jp/SMI06/">06, </a> <a href = "http://smi07.liris.cnrs.fr/">07, </a> <a href = "http://www.cs.sunysb.edu/smi08/">08, </a> <a href = "http://cgcad.thss.tsinghua.edu.cn/SMI2009/">09, </a><a href = "http://mdm.ge.imati.cnr.it/related-info/conferences-and-workshops/shape-modeling-international-2010">10, </a> <a href = "http://www1.idc.ac.il/smi2011/">11, </a><a href = "http://www.shapemodeling.org/">12, </a>13, <a href = "http://spring.mae.cuhk.edu.hk/~smi2014/index.html">14, </a> <a href = "http://www-rech.telecom-lille.fr/smi2015/">15, </a><a href = "https://s3pm.icsi.berkeley.edu/s3pm/smi.html">17</a>
        </td>
      </tr>
      <tr>
        <td>
          Point Graphics
        </td>
        <td>
          <a href = "http://graphics.ethz.ch/pbg/cfp.html">04, </a> <a href = "http://www.cs.princeton.edu/gfx/pbg05">05, </a> <a href = "http://graphics.ethz.ch/PBG06/">06, </a> <a href = "http://graphics.ethz.ch/events/pbg/08/">07, </a> <a href = "http://graphics.ethz.ch/events/pbg/08/">08, </a>
        </td>
      </tr>
      <tr>
        <td>
          3DPVT
        </td>
        <td>
          <a href = "http://www.umiacs.umd.edu/conferences/3dpvt04/">04, </a> <a href = "http://www.cc.gatech.edu/conferences/3DPVT08/3DPVT%2008.html">08</a>
        </td>
      </tr>
      <tr>
        <td>
          SOCG
        </td>
        <td>
          98, <a href = "http://www.cs.umd.edu/areas/Theory/socg03">03</a>
        </td>
      </tr>
      <tr>
        <td>
          Solid Modeling
        </td>
        <td>
          <a href = "http://www.ce.washington.edu/sm03/">03</a>
        </td>
      </tr>
      <tr>
        <td>
          SODA
        </td>
        <td>
          <a href = "http://www.siam.org/meetings/da03">03, </a> <a href = "http://www.siam.org/meetings/da14/">14, </a>
        </td>
      </tr>
      <tr>
        <td>
          FSTTCS
        </td>
        <td>
          95, 96, 97, 03
        </td>
      </tr>
      <tr>
        <td>
          WALCOM
        </td>
        <td>
          <a href = "http://www.isical.ac.in/~walcom/">09</a>
        </td>
      </tr>
      <tr>
        <td>
          SGP
        </td>
        <td>
          <a href = "http://sgp09.mi.fu-berlin.de/">09, </a><a href = "http://sgp2010.liris.cnrs.fr/">10, </a><a href = "http://sgp2011-lgg.epfl.ch/Home.html">11, </a><a href = "http://www.ioc.ee/sgp12/">12, </a>13, <a href = "http://www.cs.cf.ac.uk/sgp2014/">14, </a><a href = "http://www.geometrie.tugraz.at/sgp2015/">15, </a><a href = "http://www.geometrysummit.org/sgp2016/pc.html">16, </a><a href = "http://geometry.cs.ucl.ac.uk/SGP2017/">17</a>
        </td>
      </tr>
      <tr>
        <td>
          ISVD
        </td>
        <td>
          09, <a href = "http://bioinf.spbau.ru/isvd2013/">13</a>
        </td>
      </tr>
      <tr>
        <td>
          GMP
        </td>
        <td>
          <a href = "http://www.gmp2010.unican.es/">10, </a><a href = "http://math.ustc.edu.cn/Conference/GMP2012/">12</a>
        </td>
      </tr>
      <tr>
        <td>
          SoCG Video
        </td>
        <td>
          <a href = "http://www.sci.utah.edu/socg2010/">10</a>
        </td>
      </tr>
      <tr>
        <td>
          TopoInfoVis
        </td>
        <td>
          <a href = "http://www.topoinvis2011.ethz.ch/">11</a>
        </td>
      </tr>
      <tr>
        <td>
          CAD graphics
        </td>
        <td>
          <a href = "http://cadcg2011.sdu.edu.cn/">11</a>
        </td>
      </tr>
      <tr>
        <td>
          EuroCG
        </td>
        <td>
          <a href = "http://www.ibr.cs.tu-bs.de/alg/eurocg13/">13</a>
        </td>
      </tr>
      <tr>
        <td>
          SWAT
        </td>
        <td>
          <a href = "http://algolog.compute.dtu.dk/swat2014/">14</a>
        </td>
      </tr>
    </table> </p>

  </details>

  <details class="border">

    <summary>Invited Talks</summary>

    <p> <table id="Invited Talks">
      <tr>
        <th>Invited Talk</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>
          <a href ="https://www.birs.ca/events/2018/5-day-workshops/18w5140">Multiparameter persistent homology</a>
        </td>
        <td>
          BIRS-CMO, Mexico, August, 2018.
        </td>
      </tr>
      <tr>
        <td>
          <a href ="https://dccg.upc.edu/irp2018/details-of-the-activities/il1/">Computational Topology and Data Analysis</a>
        </td>
        <td>
          Intensive Research Program in Discrete, Combinatorial and Computational Geometry, CRM, Spain, 2018
        </td>
      </tr>
      <tr>
        <td>
          <a href = "https://www.ima.umn.edu/~mlesnick/Mini_Symposium_2016.html">SoCG workshop on Compu Topo</a> <a href ="http://www.cse.ohio-state.edu/~tamaldey/talk/SimBa/SimBa.pdf"> [slides]</a>
        </td>
        <td>
          A tool for approximating the persisitence of Rips filtrations efficiently, 2016
        </td>
      </tr>
      <tr>
        <td>
          <a href = "http://ist.ac.at/acat/">ACAT workshop, IST-Austria</a> <a href = "http://ist.ac.at/fileadmin/user_upload/events_pages/acat/ACAT2015_Tamal_Dey.pdf"> [slides]</a>
        </td>
        <td>
          Multiscale Mapper, 2015
        </td>
      </tr>
      <tr>
        <td>
          <a href = "https://projects.cs.dal.ca/cccg2014/programme.html">Canad. Conf. Computational Geometry</a> <a href = "http://www.cse.ohio-state.edu/~tamaldey/talk/CCCG14/CCCG14.pdf"> [slides]</a>
        </td>
        <td>
          Computational topology in reconstruction, mesh generation, and data analysis, Keynote
        </td>
      </tr>
      <tr>
        <td>
          <a href = "http://www.ima.umn.edu/2013-2014/W4.28-5.2.14/">IMA workshop on Topology and Geometry of Networks and Discrete Metric Spaces</a><a href = "http://www.cse.ohio-state.edu/~tamaldey/talk/simplicial-map/PersistenceForSimplicialMap.pdf"> [slides]</a>
        </td>
        <td>
          Computing persistence for simplicial maps with application to data sparsification, 2014
        </td>
      </tr>
      <tr>
        <td>
          <a href = "http://www.ima.umn.edu/2013-2014/W10.28-11.1.13/">IMA workshop on Modern application of homology and Cohomology</a><a href = "http://www.cse.ohio-state.edu/~tamaldey/talk/GIC/GIC.pdf"> [slides]</a>
        </td>
        <td>
          Graph Induced Complex
        </td>
      </tr>
      <tr>
        <td>
          Better handles and tunnels, workshop on <a href = "http://zeus.mat.puc-rio.br/~socg2013/index.php/workshops/geometric-computing-challenges">Geometric computing</a> <a href = "http://www.cse.ohio-state.edu/~tamaldey/talk/HanTun/HanTun.ppt"> [slides]</a>
        </td>
        <td>
          SoCG 2013
        </td>
      </tr>
      <tr>
        <td>
          <a href= "http://zeus.mat.puc-rio.br/~socg2013/index.php/workshops/mesh-generation">Delaunay mesh generations, workshop on mesh generation</a><a href= "http://www.cse.ohio-state.edu/~tamaldey/talk/Delmesh/DelMesh2013.pptx"> [slides]</a>
        </td>
        <td>
          SoCG 2013
        </td>
      </tr>
      <tr>
        <td>
          <a href= "http://www.mfo.de/occasion/1218/www_view">Delaunay mesh generation</a> <a href = "http://www.cse.ohio-state.edu/~tamaldey/talk/Delmesh/Delmesh.pptx"> [slides]</a>
        </td>
        <td>
          Oberwolfach workshop on Triangulations, 2012
        </td>
      </tr>
      <tr>
        <td>
          <a href = "http://www.cse.ohio-state.edu/~tamaldey/talk/OpHom/OHCP-IAS.pdf">Computing homology cycles with certified geometry</a> <a href="http://www.cse.ohio-state.edu/~tamaldey/talk/OpHom/OHCP-IAS.pdf"> [slides]</a>
        </td>
        <td>
          Computational Topology workshop, <a href="http://www.fields.utoronto.ca/programs/scientific/11-12/discretegeom/wksp_comptop/">Fields Institute, </a> 2011, and <a href="http://www.math.ias.edu/seminars/abstract?event=43554">Institute of Advanced studies, </a> Princeton, 2012
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.siam.org/meetings/gdspm11/invited.php">Computational geometry and topology meet geometric modeling</a><a href="http://www.cse.ohio-state.edu/~tamaldey/talk/SIAM-GD11/SIAM-GD11.pptx"> [slides]</a>
        </td>
        <td>
          SIAM-GD 2011
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.sandia.gov/imr/Speakers.html">Delaunay refinemand and its localization for meshing</a><a href="http://www.cse.ohio-state.edu/~tamaldey/talk/IMR11/IMR11.pptx"> [slides]</a>
        </td>
        <td>
          IMR 2011
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.cse.iitd.ac.in/~amitk/walcom/">Geometry and topology from point cloud data</a><a href="http://www.cse.ohio-state.edu/~tamaldey/paper/PCD/PCD.pdf"> [slides]</a>
        </td>
        <td>
          WALCOM 2011
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.cse.iitd.ac.in/~naveen/activities/wshp-geometry/">Computing homology cycles with certified geometry</a><a href="http://www.cse.ohio-state.edu/~tamaldey/paper/homology-generators/talk.pdf"> [slides]</a>
        </td>
        <td>
          Workshop on Geometric Computing, IIT Delhi, Nov. 2010
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.math.utk.edu/barrett/">Convergence, stability, and approximation of Laplace spectra</a>
        </td>
        <td>
          Discrete Differential Geometry workshop, U. Tennessee, May 10
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.birs.ca/birspages.php?task=displayevent&event_id=09w5112">Cut locus and topology from point data</a>
        </td>
        <td>
          BIRS workshop on data analysis, March 09
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.birs.ca/birspages.php?task=eventvideos&event_id=09w5119">Lifting the curse of slivers from surface reconstruction</a> <a href="http://www.birs.ca/birspages.php?task=eventvideos&event_id=09w5119"> [video]</a>
        </td>
        <td>
          BIRS workshop on Computational Mathematics on Discrete Surfaces, February 09
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://cse.seas.wustl.edu/About/Events.asp?EventType=Colloquia&EventID=1343">Computing handles and tunnels in 3D models</a> <a href="http://www.cse.ohio-state.edu/~tamaldey/talk/ht.ppt"> [slides]</a>
        </td>
        <td>
          Colloquium, WUSTL, February 08
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://people.cs.uchicago.edu/~niyogi/conference/index.html">Geomeric and topological approaches to data analysis</a> <a href="http://www.cse.ohio-state.edu/~tamaldey/paper/extract-manifold/talk.pdf"> [slides]</a>
        </td>
        <td>
          October, 2007
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www-sop.inria.fr/geometrica/collaborations/geotopal/">GeoTopAI</a>
        </td>
        <td>
         2007
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.isical.ac.in/~isaac06/">ISAAC</a>
        </td>
        <td>
         2006
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.lorentzcenter.nl/lc/web/2006/20060306/program.php3?wsid=169">Tessellations in the Sciences</a>
        </td>
        <td>
          Lorentz Center, Lieden Univ. March 2006
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.research.att.com/~krishnas/fwcg05/">Workshop on computational geometry</a>
        </td>
        <td>
          15th fall workshop, 2005
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://geometry.poly.edu/realworld/Seminars/tamal.html">Othmer Institute Seminar</a>
        </td>
        <td>
          2005
        </td>
      </tr>
      <tr>
        <td>
          <a href = "http://www.dis.uniroma1.it/~algo02">ALGO</a>
        </td>
        <td>
         2002
        </td>
      </tr>
      <tr>
        <td>
          <a href ="http://www-sop.inria.fr/prisme/ECG/workshop/final">ECG workshop</a>
        </td>
        <td>
          final workshop, 03
        </td>
      </tr>
      <tr>
        <td>
          DIMACS workshop on Surface Reconstruction
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          DIMACS workshop on computer aided design and manufacturing
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.math.uwo.ca/~jardine/at-cs.html">Conference on Algebraic Topological Methods in Computer Science</a>
        </td>
        <td>
          Department of Mathematics Stanford University July 30 - August 3, 2001
        </td>
      </tr>
      <tr>
        <td>
          Colloquiam
        </td>
        <td>
          Department of Computer Science Univ. of Notre Dame September, 2004
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www-or.amp.i.kyoto-u.ac.jp/algo-eng/seminar/ws001030_abs.html">Workshop on Algorithm engineering as a new paradigm</a>
        </td>
        <td>
          Oct 30 - Nov 2, 2000 RIMS, Kyoto University, Kyoto, Japan
        </td>
      </tr>
      <tr>
        <td>
          Solid Modeling Technology and Applications, SME
        </td>
        <td>
          Detroit, MI Nov. 16-17,  2000
        </td>
      </tr>
    </table> </p>

  </details>

  <details class="border">

    <summary>Other Activities</summary>

    <p> <table id="Other Activities">
      <tr>
        <th>Other Activities</th>
        <th>Description
      </tr>
      <tr>
        <td>  
          Co-Chair
        </td>
        <td>
          <a href="http://socg2012.web.unc.edu/">SoCG 2012</a>
        </td>
      </tr>
      <tr>
        <td>Editorial Board</td>
        <td>
          <a href="http://www.springer.com/west/home/computer/computer+journals?SGWID=4-40100-70-1083392-0">Discrete & Comput. Geom</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a href="http://www.journals.elsevier.com/computational-geometry/">Computational Geometry, Theory & Applications</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a href="http://jocg.org/index.php/jocg/index">Journal of Comput. Geom.</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a href="http://www.elsevier.com/wps/find/journaleditorialboard.reviewers/622839/editorialboard">Graphical Models</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a href="http://www.journals.elsevier.com/computer-aided-design/editorial-board/">CAD</a>
        </td>
      </tr>
      <tr>
        <td>Guest Editor</td>
        <td><a href="http://www.cs.ust.hk/faculty/scheng/ijfcs.html">Special issue of IJFCS</a></td>
      </tr>
      <tr>
        <td>Executive Board</td>
        <td><a href="http://solidmodeling.org/layout.php?nextlink=executives">Solid Modeling Association (08-11)</a></td>
      </tr>
      <tr>
        <td>Steering Committee</td>
        <td><a href="http://www.imr.sandia.gov/">11th Meshing Roundtable 2002</a></td>
      </tr>
      <tr>
        <td>Advisory Committee</td>
        <td><a href="http://www.simplex.t.u-tokyo.ac.jp/~vd2004">International Symposium on Voronoi Diagrams in Science and Engineering</a></td>
      </tr>
      <tr>
        <td>Organizer</td>
        <td><a href="http://www.tgda.osu.edu/tgda-conf-osu.html">TGDA@OSU 2016, conference on topology, geometry, and data analysis</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://zeus.mat.puc-rio.br/~socg2013/index.php/workshops/computational-topology-and-data-analysis">Workshop on Computational Topology and Data Analysis</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://www.siam.org/meetings/gd03/program.htm">Mini-symposium on "Geometric modeling with point samples", SIAM Geometric Design, 2003.</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=4865">Mini-Symposium on  "Delaunay Meshing of Surfaces and Volumes", SIAM Geometric Design, 2005.</a></td>
      </tr>
      <tr>
        <td></td>
        <td>DIMACS Surface Reconstruction Implementation Challenge, 2003 <a href="http://www.cse.ohio-state.edu/~tamaldey/sr-challenge.ppt"> [results]</a></td>
      </tr>
      <tr>
        <td>Tutorials</td>
        <td>Summer school on Delaunay Mesh Generation, 2009, RWTH, Aachen, Germany</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://www.mpi-sb.mpg.de/adfocs">7th Max-Planck Advanced Course on Foundations of Computer Science, ADFOCS06, August 2006</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://www.inf.fu-berlin.de/graduate-programs/%20cgc/Veranstaltungen/Schulen/Herbst03/abstracts.html">Summer school on computational geometry Fu-Berlin, October, 2003</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://conference.ieem.ust.hk/~cadcg05/tutorials.htm">Surface and Volume meshing, CAD/Graphics 2005, Hong-Kong</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://www.siam.org/meetings/gd05/">Reconstruction and feature extraction from point cloud data with mathematical reasoning, SIAM conference on Geometric Design, Phoenix, 2005.</a></td>
      </tr>
    </table> </p>

  </details>

  <img src="images/Wexmed.jpg" alt="Wexner Medical Center" width="500" height="333" class="center">
</body>

 <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Ohio State University</p>
</div> 


