---
title: Publications
---
<head>
</head>

<body>

<ul class="navbar" id="navbar">
  <li><a href="index.html">Home</a></li>
  <li><a href="teaching.html">Teaching</a></li>
  <li><a href="research.html">Research</a></li>
  <li><a href="professional.html">Professional Activities</a></li>
  <li><a class="active" href="publications.html">Publications</a></li>
</ul>

<ul>
  <details class="border">
    <summary>Recent Papers</summary>
    <p>
    <a href="https://www.cs.purdue.edu/homes/tamaldey/papers.html">View</a>
    </p>
  </details>
  
  <details class="border">
    <summary>Other Publications</summary>
    <p>
    <a href="https://web.cse.ohio-state.edu/~dey.8/all-papers/papers.html">View</a>
    </p>
  </details>

</ul>

<img src="images/Wexmed.jpg" alt="Wexner Medical Center" width="500" height="333" class="center">
</body>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Ohio State University</p>
</div> 