---
title: Research
---

<body>
  <table>
  <tr>
    <% 6.times do |a| %>
      <td> <%= a == 0 ? "times" : a %> </td>
    <% end %>
    <td> 6 </td>
  </tr>

  <% 3.times do |a| %>
    <tr>
      <td> <%= a+1 %> </td>
      <% 5.times do |b| %>
        <td> <%= (a+1)*(b+1) %> </td>
      <% end %>
      <td> 5 * a </td>
    </tr>
  <% end %>
</table>
  <details class="border">

    <summary>Personnel</summary>

    <p> <table id="personnel">
      <tr>
        <th>Current</th>
        <th>Past</th>
      </tr>
      <tr>
        <td>Jiayuan Wang, PhD</td>
        <td>Alfred Rossi, post-doc</td>
      </tr>
      <tr>
        <td>Tianqi Li, PhD</td>
        <td>Mickael Buchet, post-doc, currently at Tohoku Univ., Japan</td>
      </tr>
      <tr>
        <td><a href="http://web.cse.ohio-state.edu/%7Emandal.25/">
          Sayan Mandal</a>, PhD</td>
        <td><a href="http://www.cs.sfu.ca/%7Erhdyer/personal/">Ramsay Dyer</a>, post-doc, currently at INRIA,France</td>
      </tr>
      <tr>
        <td>Cheng Xin, PhD</td>
        <td>Hyuckje Woo, Post-doc, Prof. KINST, Korea</td>
      </tr>
      <tr>
        <td><a href="http://web.cse.ohio-state.edu/%7Eslechta.3/">Ryan Slechta</a>, PhD</td>
        <td><a href="http://www.mpi-inf.mpg.de/%7Ejgiesen">Joachim Giesen</a>, Post-doc, Prof. U. Jena, Germany</td>
      </tr>
      <tr>
        <td>Tao Hou, PhD</td>
        <td>Dayu Shi, Phd, Google</td>
      </tr>
      <tr>
        <td>Soham Mukherjee, PhD</td>
        <td><a href="http://web.cse.ohio-state.edu/%7Ewangle/">Lei Wang</a>, Phd, Google</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://web.cse.ohio-state.edu/%7Eslatton/">Andrew Slatton, PhD</a></td>
      </tr>
      <tr>
        <td></td>
        <td>Fengtao Fan, Phd, Google</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://www.cse.ohio-state.edu/%7Ebusaryev">Oleksiy Busaryev</a>, PhD, Google </td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://staff.cse.tamu.edu/kuiyu/">Kuiyu
          Li</a>, PhD, post-doc at Texas A&M</td>
      </tr>
      <tr>
        <td></td>
        <td>Pawas Ranjan, PhD</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://jalevine.bitbucket.io/">Joshua Levine</a>, PhD, post-doc at U. Utah, Prof. U. of Arizona</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://www.cse.ohio-state.edu/%7Esunjia">Jian Sun</a>, PhD, post-doc at Stanford and Princeton, Prof. Tsinghua U., China</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://www.cse.ohio-state.edu/%7Erayt">Tathagata Ray</a>,  PhD, Prof. BITS, Pilani,India</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="http://www.ices.utexas.edu/%7Esamrat">Samrat Goswami</a>, PhD, post-doc at UT-Austin</td>
      </tr>
      <tr>
        <td></td>
        <td>Wulue Zhao, PhD</td>
      </tr>
      <tr>
        <td></td>
        <td>James Hudson, PhD, Prof. at Swansee U</td>
      </tr>
      <tr>
        <td></td>
        <td>Naveen Leekha, Masters, NVIDIA</td>
      </tr>
      <tr>
        <td></td>
        <td>Luke Molnar, Masters</td>
      </tr>
    </table> </p>

  </details>
  <details class="border">

    <summary>Projects</summary>
    <p> 
      <table id="project">
        <tr>
          <th><a href="http://www.cse.ohio-state.edu/%7Etamaldey/geometry-papers.htm" style="color:white;">Computational 
            and Combinatorial Geometry</a></th>
        </tr>  
      </table> 

      <table id="project1">
        <tr>
          <th><a href="http://www.cse.ohio-state.edu/%7Etamaldey/topology-papers.htm" style="color:white;">Computational Topology</a> (<a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/topowork/paper.ps.gz"style="color:white;">NSF Report)</a></th>
        </tr>  
      </table>
    </p>
      <details class="project2">
        <summary><a href="http://www.cse.ohio-state.edu/%7Etamaldey/geohome.html" style="color:black;">Computational 
          Geometry and Topology in Geometric Modeling and Graphics</a></summary>
          <table id="project2table">
            <tr>
              <th>Reconstruction</th>
              <th><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh.html" style="color:white;">Meshing</a></th>
              <th>Homology features</th>
              <th>Shape features</th>
              <th>Data sparsification</th>
              <th><a href="http://www.cse.ohio-state.edu/%7Etamaldey/decim.htm" style="color:white;">Simplification</a></th>
            </tr> 
            <tr>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/curverecon.htm">Curve reconstruction</a></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-volume.html">Polyhedra</a> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/handle/hantun.html">Handle and tunnel loops</a> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/medialaxis.htm">Medial axis</a> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/GIC/gic.html">Graph Induced complex</a> </td>
              <td> </td>
            </tr> 
            <tr>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/surfrecon.htm">Surface reconstruction <br></a></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-smooth.html">Smooth surface</a> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/homology.html">Shortest homology basis</a> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/dimensiondetection.htm">Dimension detection</a> </td>
              <td> </td>
              <td> </td>
            </tr> 
            <tr>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/SingularCocone/singularcocone.html">Non-smooth, non-manifold surface reconstruction</a></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-smooth.html">Remeshing</a> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/homology.html">Optimal homologous cycles</a> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/segmentation.html">Shape segmentation and matching</a> </td>
              <td> </td>
              <td> </td>
            </tr> 
            <tr>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/isotopic.html">Boundary reconstruction</a></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-iso.htm">Isosurface</a> </td>
              <td> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/normfet.html">Normal and feature approximation</a> </td>
              <td> </td>
              <td> </td>
            </tr> 
            <tr>
              <td> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh-psc.html">Piecewise smooth complexes</a> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr> 
            <tr>
              <td> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/LocDel.html">Localized Delaunay refinement</a> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr> 
          </table>
      </details>
  </details>

  <details class="border">
    <summary>Software</a></summary>
       <table id="software">
            <tr>
              <th>Reconstruction</th>
              <th><a href="http://www.cse.ohio-state.edu/%7Etamaldey/mesh.html" style="color:white;">Meshing</a></th>
              <th>Homology features</th>
              <th>Shape features</th>
              <th>Data sparsification</th>
              <th>Miscellaneous</th>
            </tr> 
            <tr>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/cocone.html">Cocone</a>: software for surface reconstruction based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/undsamp/paper.pdf.gz">paper.</a></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/delpsc.html">DelPSC</a>: software for Delaunay meshing of surfaces, volumes, complexes based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/delpsc/imr07.pdf">paper</a>, <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/delpsc/delpsc.ppt">talk slides</a>, [<a href="http://www.cse.ohio-state.edu/%7Etamaldey/delpsc/video">video</a>]</td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/hantun.html">HanTun </a>software for computing handle and tunnel loops on surfaces based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/hantun-persist/hantun.pdf">paper</a> [<a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/hantun-persist/hantun-sig2008.mov">video</a>] </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/cocone.html">Medial</a>: Software for 3D medial axis based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/medial/medial-ex.pdf">paper</a> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/GIC/GICsoftware">GIC software</a></td>
              <td><a href="http://www.cse.ohio-state.edu/graphics/research/CurveRecon/gathan.tar">Gathan software for curve reconstruction </a>based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/sharp/paper.ps.gz">paper.</a> </td>
            </tr> 
            <tr>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/amls.html">AMLS</a> software for noisy point cloud smoothing based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/amls/amls-extend.pdf">paper</a>.</td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/locpsc.html">LocPSC</a>: Localized version of DelPSC, runs faster. based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/locpsc/locpsc.pdf">paper</a>.<br></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/handle/ReebHanTun-download/reebhantun.html">ReebHanTun </a>software for handle and tunnel loops that does not require 3D tessellation, <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/reeb-hantun/reeb-hantun.pdf">paper</a>, <a href="http://www.cse.ohio-state.edu/%7Etamaldey/handle/hantun.html">web-page</a><br></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/segmatch.html">SegMatch</a>: Software for shape segmentation and shape matching based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/matching/feature.pdf">paper</a></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/SimPers/Simpers.html">SimpPers software</a> (computes persistence for simplicial maps)</td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/Crust/">Nearest neighbor curve reconstruction Applet</a> based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/curve/paper.ps.gz">paper</a> and a topology clean up.</td>
            </tr> 
            <tr>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/SingularCocone/singularcocone.html">SingularCocone</a> software for reconstructing surfaces with singular features<br></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/qualmesh.html">Qualmesh</a>: software for quality Delaunay meshing of polyhedra based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/qualmesh/qualmesh.pdf">paper</a>. </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/shortloop.html">ShortLoop</a> software for computing loops in a shortest homology basis based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/pcdloop/pcdloop.pdf">paper</a>.</td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/normfet.html">NormFet</a> software for normal and feature size estimation from point cloud based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/norfet/paper.pdf">paper</a>.</td>
              <td><a href="http://web.cse.ohio-state.edu/%7Etamaldey/SimBa/Simba.html">SimBa software</a> (computes persistence of Rips filtration efficiently)<br></td>
              <td> </td>
            </tr> 
            <tr>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/Peel.html">Peel</a> software for reconstructing surfaces with boundaries based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/recon-bound/boundary.pdf">paper</a></td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/surfremesh.html">SurfRemesh</a>: software for Delaunay meshing of polygonal surfaces based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/remesh/remesh.pdf">paper</a>.</td>
              <td><a href="http://web.cse.ohio-state.edu/%7Edey.8/PersLoop/">PersLoop</a> software for persistent &nbsp;1-cycles </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/cskel.html">CurveSkel</a> software for curve skeleton of 3D shapes based on <a href="http://www.cse.ohio-state.edu/%7Etamaldey/paper/curve-skeleton/cskel.pdf">paper</a>.</td>
              <td> </td>
              <td> </td>
            </tr> 
            <tr>
              <td> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/deliso.html">DelIso</a>: software for Delaunay meshing of isosurfaces </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr> 
            <tr>
              <td> </td>
              <td><a href="http://www.cse.ohio-state.edu/%7Etamaldey/locdel-soft.html">LocDel</a> software for generating large Delaunay meshes<br></td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr> 
          </table>
  </details>

  <img src="images/Wexmed.jpg" alt="Wexner Medical Center" width="500" height="333" class="center">
</body>

