---
title: Teaching
---
<body>
<ul class="navbar" id="navbar">
  <li><a href="index.html">Home</a></li>
  <li><a class="active" href="teaching.html">Teaching</a></li>
  <li><a href="research.html">Research</a></li>
  <li><a href="professional.html">Professional Activities</a></li>
  <li><a href="publications.html">Publications</a></li>
</ul>

<ul>
  <details class="border">
    <summary>Data Structure &amp; Algorithms (CSE 2331) (Au 15)</summary>
    <p>
    View <a href="https://carmen.osu.edu/d2l/lms/attendance/registers/registers_list.d2l?ou=11610509">course syllabus</a>
</p>
  </details>

   <details class="border">
    <summary>Algorithms (6331) (Au 12)</summary>
    <p>
        Course Description:
     <p>In this course we will go through different paradigms for algorithm design such as divide-and-conquer, prune-and-search, dynamic progamming, greedy strategy,
randomization, linear programming and different analysis techniques with different
data structures. We will apply these design and analysis techniques to develop
efficient graph and geometric algorithms.</p>
    <p>View <a href="https://web.cse.ohio-state.edu/~dey.8/course/6331/">course syllabus</a></p>
    </p>
  </details>

  <details class="border">
    <summary>Advanced Algorithms(6332) (Spring 19)</summary>
    <p>
        Course Description:
     </p>
     <p>Advanced algorithms that are usually not covered in standard Algorithm course (6331). 
     They include graph algorithms, linear programming, Fourier transforms, string algorithms, 
     approximation algorithms, randomized algorithms, geometric algorithms and such others.</p>
    <p>View <a href="http://www.cse.ohio-state.edu/%7Etamaldey/course/6332">course syllabus</a></p>
    </p>
  </details>

  <details class="border">
    <summary>Computational Topology and Data Analysis (5339) (Au 13) (5559) (Sp 17)</summary>
    <p>
        Course Description:
     </p>
     <p>Computational topology has played a synergistic role in bringing together research work from computational geometry, 
     algebraic topology, data analysis, and many  other related scientific areas. In recent years, the field has undergone 
     particular growth in the area of data analysis. The application of topological techniques to traditional data analysis,
      which before has mostly developed on a statistical setting, has opened up new opportunities. This course is intended to
       cover this aspect of computational topology along with the developments of generic techniques for various topology-centered problems.
</p>
    <p>View <a href="http://www.cse.ohio-state.edu/%7Etamaldey/course/CTDA/CTDA.html">course syllabus</a></p>
    </p>
  </details>

  <details class="border">
    <summary>Geometric Modeling (5543) (Sp18)</summary>
    <p>
        Course Description:
     </p>
     <p>
     Survey techniques and algorithms used to create, manipulate, represent, and display geometric  objects such as curves, surfaces and solids.</p>
    <p>View <a href="http://www.cse.ohio-state.edu/%7Etamaldey/course/784/syllabus.html">course syllabus</a></p>
    </p>
  </details>

    <details class="border">
    <summary>Shape Modeling in graphics and visualization(Sp00)</summary>
    <p>
     
    </p>
  </details>


    <details class="border">
    <summary>Subdivision surfaces (888) (Wi00)</summary>
    <p>
     
    </p>
  </details>

  <details class="border">
    <summary>Formal Languages and Automata Theory (Wi '09)</summary>
    <p>
       View <a href="http://www.cse.ohio-state.edu/%7Etamaldey/course/625">course syllabus</a></p>
    </p>
  </details>

  <details class="border">
    <summary>Sample Based Modeling for Graphics and Visualization (Au05)</summary>
    <p>
      <p>Course Description</p>
       <p>Recent advances in scanning technology and scientific
simulations can generate sample points from a geometric domain
at ease. Inferring the shape and their features from such
a simple light-weight input can be a very effective modeling paradigm
across many areas of science and engineering. In this talk
we will go over the techniques developed for such modeling
paradigms. In particular, we cover algorithms for
(i) extracting a surface out of point samples, (ii) computing
an approximate medial axis of the sampled object, (iii) segmenting
the object into so called ``features". Theoretical concepts along with
experimental results will be presented. </p>
       View <a href="http://www.cse.ohio-state.edu/%7Etamaldey/course/788/">course syllabus</a></p>
    </p>
  </details>

  
  </ul>



<img src="images/Wexmed.jpg" alt="Wexner Medical Center" width="500" height="333" class="center">

</body>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Ohio State University</p>
</div> 